[Desktop Entry]
Name=Novvera
GenericName=Novvera
Comment=novvera
Terminal=false
Type=Application
Categories=Utility
Keywords=Flutter;comic;images;
Icon=novvera